/*css reset*/
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
/*css variables*/
:root{
    --navbar-height:59px;
}
/*navigation bar*/
#navbar{
    display:flex;
    align-items: center;
    position: relative;
    top: 0px;
}
/*logo and image*/
#logo{

}
#logo img{
    width: 101px;
    height: 85px;
    margin: 1px 1px;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.4;
}
#navbar ul li{
   /* color: white;*/
    list-style:none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: rgb(90, 22, 34);
    font-weight: bold;
    display: block;
    padding:16px 48px;
    border-radius: 20px;
    text-decoration: none;
 }
 #navbar ul li a:hover{
    color:rgb(243, 206, 212);
    background-color: rgb(145, 110, 116);

 }
 /*home section*/
 #home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height:592px;
    justify-content: center;
    align-items: center;
 }
 #home::before{
    content: "";
    background:url("../img/bowl.jpeg");
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.8;

 }
 #home h1{
    color:rgb(94, 30, 40);
    text-align: center;
 }
 #home p{
    color: rgb(75, 8, 20);
    font-weight: bold;
    font-size: 19px;
 }
 /*service section*/
#services{
    margin:34px;
    display: flex;
}
#services .box{
    border:2px solid red;
    padding:24px;
    margin:22px 4px;
    border-radius: 23px;
    background-color: rgb(227 220 225);

}
#services .box img{
    height:170px;
    margin: auto;
    display: block;
}
#services-container {
    color: rgb(61, 29, 34);
}
#services .box p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#services{}
#services{}
#services{}
/*client section*/
#client-section{
    height: 344px;
    color: rgb(112, 51, 61);

}
#client-section::before{
    content: "";
    position: absolute;
    background-color: rgb(207, 186, 189);
    width:100%;
    height:70%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding:9px;
}
#clients img{
    height:240px;
}
/*contact section*/
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 0.5;
    background: url("../img/contact.jpg");

}
footer{
    background:rgb(175, 144, 149);
    color:rgb(112, 51, 61);
    padding:9px 20px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;

}
#contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size:1.3rem;
    border-color: rgb(112, 51, 61);
    color:rgb(112, 51, 61) ;
}
#contact-box form{
    width:50%;

}
#contact .h-primary{
    color: rgb(112, 51, 61);
}
#contact-box label{
    font-size: 1.3rem;
    color: rgb(112, 51, 61);
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}


 /*utility class*/
 .h-primary{
    font-size:2.8rem;
    padding:12px 12px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .h-secondary{
    font-size:2.3rem;
    padding:12px 12px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .btn{
    color: rgb(61, 29, 34);
    padding:5px 27px;
    border:1px solid rgb(94, 30, 40);
    background-color: rgb(138, 119, 122);
    margin:16px;
    font-size: 1.5rem;
    border-radius: 26px;
    cursor: pointer;
 }
 .center{
    text-align: center;
 }
 